.favorite-container {
    height: 100vh;
    background-color: #d5cea3;
    display: flex;
    flex-direction: column; /* Acomodează conținutul în coloană */
    justify-content: flex-start; /* Așează conținutul în partea de sus a containerului */
    align-items: center;
    position: relative;
  }
  
  /* Fundal blurat */
  .favorite-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./poza_fundal.jpg'); /* Înlocuiește cu calea corectă către imaginea ta */
    background-size: cover;
    filter: blur(10px); /* Ajustează valoarea blurului după preferință */
  }
  
  /* Stiluri pentru conținutul meniului */
  .favorite-content {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 170px; /* Spațiu între antet și conținutul butoanelor */
  }

  .favorite-list {
    list-style: none;
    padding: 0;
    display: flex;
    overflow-x: auto; /* Permite derularea orizontală dacă elementele nu încap pe ecran */
  }
  
  .favorite-book {
    background-color: #d5cea3;
    border: 1px solid black;
    padding: 20px;
    margin: 10px; /* Ajustează marginea între cărți */
    border-radius: 30px;
    flex: 0 0 auto; /* Permite elementelor să aibă dimensiunea lor naturală, fără a se extinde */
    max-width: 300px; /* Specifică o lățime maximă pentru fiecare carte, dacă dorești */
  }
  
  